# Specifies only dev-specific requirements
# But imports the runtime ones too
-r requirements.txt

ruff==0.15.7
lxml-stubs==0.5.1
mypy==1.19.1
pytest-cov==7.1.0
pytest-mock==3.15.1
pytest==9.0.2
setuptools==82.0.1
types-setuptools==82.0.0.20260210
