# Specifies only dev-specific requirements
# But imports the runtime ones too
-r requirements.txt

ruff==0.12.2
lxml-stubs==0.5.1
mypy==1.16.1
pytest-cov==6.2.1
pytest-mock==3.14.1
pytest==8.4.1
setuptools==80.9.0
types-setuptools==80.9.0.20250529
